{% extends 'home/layout.html.twig' %}

{% block title %}Hello {{ user }}!{% endblock %}
{% block content %}
<div class="col-md-8">
        <h2>{{ user }}</h2>
        <p>User information:</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>ID</th>
                <th>Email</th>
                <th>Blog Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user }}</td>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ blog }}</td>
            </tr>
            </tbody>
        </table>
</div>
{% endblock %}






