{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block row %}
   <style>
       .text-center {
           width: 300px;
           height: 300px;
           margin-top: 250px;
           margin-left: 380px;
           margin-right: 380px;


       }
       .btn {
           width: 120px;
           margin-top: 15px;
           margin-left: 90px;
       }
       .form-control {
           margin: 5px;
           background-color: #F9F9F9;
       }
       body {
           background-image: url("https://img2.goodfon.ru/original/2560x1440/9/fc/aloe-rastenie-zelenyi-zelenoe-rastenie-temnyi-temnye-tona-mi.jpg");
           background-color: #cccccc;
           background-size: cover;
           background-attachment: fixed;
       }
       h1 {
            color: #F9F9F9;
       }
   </style>
<div class="text-center">
        {{ form_start(form)}}
            {{ form_errors(form) }}
        <h1>Sign up</h1>
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
</div>
{% endblock %}
