{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}
{% block stylesheet  %}<link href="{{ asset('css/signin.css') }}" rel="stylesheet"/>{% endblock %}

{% block row %}

<div class="text-center">
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
    {{ form_row(form.submit) }}
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
        {{ form_end(form) }}
    {% if error %}
    {{ error.messageKey|trans(error.messageData, 'security') }}
    {% endif %}
</div>
{% endblock %}



