{% extends 'base.html.twig' %}

{% block title %}Create post{% endblock %}
{% block stylesheet  %}<link href="{{ asset('css/add_post.css') }}" rel="stylesheet"/>{% endblock %}
{% block row %}

   <div class="text-center">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}
   </div>
{% endblock %}
